# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


* Most popular languages in Data Sceince

* List of libraries in Data Science 

* Some of Open Source Developments Environment tools list

* Mathematical expression

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Sci-Kitlearn
5. Tensorflow

| Data Science Tools|
|-------------------|
| Jupyter Notebooks |
| R Studio          |
| Apache Zepplin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
### This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Sk. Ferdous Hossain